*{
    padding: 0;
    margin: 0;
}
body{
    color: #000;
    background: #efefef;
}

ul{
    display: flex;
    border-bottom: 1px solid #666;
}

ul li, ul li a{
    display: block;
    padding: 10px;
}

main{
    margin: auto;
    width: 1024px;
}

#content{
    padding: 30px 0;
}